.DS_Store
.idea
tmp/
data/hh_lod2_buildings.gpkg
data/citygml
data/output

gis-data
layer
umep
test.qgs
test.qgs~
bodenbedeckung
storage

*db
*.log

*.py[cod]
*.egg
*.egg-info/
build
htmlcov

.mypy_cache/
__pycache__/

.venv/